<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]--> 
<html>
<head>
  <title>Mavtec</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/bootstrap.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/header2-blue.css">
    <link rel="stylesheet" href="assets/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="assets/font-awesome.css">
    <link rel="stylesheet" href="assets/flexslider.css">    	
    <link rel="stylesheet" href="assets/parallax-slider.css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="assets/blue.css" id="style_color">
    <link rel="stylesheet" href="assets/blue.css" id="style_color-header-1">    
</head>	

<body>
	
<!--=== Header ===-->    
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img id="logo-header" src="assets/mavtec_logo_website.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                   
							<li><%= link_to 'About Us', page_path('about') %><li>					
							<li><%= link_to 'Experience', page_path('experience') %><li>	
							<li><%= link_to 'Careers', page_path('careers') %><li>	
							<li><%= link_to 'Contact', page_path('contact') %><li>					
                </ul>
            </div><!-- /navbar-collapse -->
        </div>    
    </div>    
</div><!--/header-->
<!--=== End Header ===-->    

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>Deliver maximum</i> <br /> <i>results without</i> <br /> <i>sacrificing budgets</i></h2>
            <p><i>We understand that projects have tight budgets,</i> <br /> <i>so we keep an eye on every dollar as we build an </i> <br /> <i>optimal software solution for our customers. </i></p>
            <div class="da-img"><img src="assets/first_slide.png" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2><i>Understanding</i> <br /> <i>complex</i> <br /> <i>problems</i></h2>
            <p><i>We work with the customer in an Agile </i> <br /> <i>approach to identify the requirements</i><br/><i>before implementing a single line of code.</i></p>
	            <div class="da-img"><img src="assets/second_slide.png" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2><i>Going</i> <br /> <i>the extra</i> <br /> <i> mile.</i></h2>
            <p><i>We strive to deliver products that are exactly right, </i> <br /> <i>so we make sure that we are going beyond customer</i> <br /> <i>expectations on every engagement. </i></p>
            <div class="da-img"><img src="assets/extra_mile.png" alt="image01" /></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>		
        </div>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span>With over a decade of building technical solutions, we can get your project on the right track.</span>
                  </div>            
            <div class="col-md-3">
                <a href="#" class="btn-buy hover-effect">Learn More</a>            
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">	

	<!-- Recent Works -->
    <div class="headline"><h2>Areas of Expertise</h2></div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/1_new.png" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>					
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Software Development</a></h3>
                    <p>With an AGILE process in mind.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/2_new.png" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>                   
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Cyber Security</a></h3>
                    <p>Mitigating outside threats.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/3_new.png" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>                   
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Big Data</a></h3>
                    <p>Connecting the dots.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/4_new.png" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>                   
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Mobile</a></h3>
                    <p>Versitile and convinieint.</p>
                </div>
            </div>
        </div>
    </div><!--/row-->
	<!-- End Recent Works -->
    
	

	<!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h2>Our Clients</h2></div>    
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="assets/csc_grey.png" alt="" /> 
                    <img src="assets/csc.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/dod_grey.png" alt="" /> 
                    <img src="assets/dod.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/state_grey.png" alt="" /> 
                    <img src="assets/state.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/verisign_grey.png" alt="" /> 
                    <img src="assets/verisign.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cat_grey.png" alt="" /> 
                    <img src="assets/cat.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/voa_grey.png" alt="" /> 
                    <img src="assets/voa.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/exelis_grey.png" alt="" /> 
                    <img src="assets/exelis.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cerner_grey.png" alt="" /> 
                    <img src="assets/cerner.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/idme_grey.png" alt="" /> 
                    <img src="assets/idme.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/treater_grey.png" alt="" /> 
                    <img src="assets/treater.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/proconit_grey.png" alt="" /> 
                    <img src="assets/proconit.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/aboutobjects_grey.png" alt="" /> 
                    <img src="assets/aboutobjects.png" class="color-img" alt="" />
                </a>
            </li>
            
        </ul>
    </div><!--/flexslider-->
	<!-- End Our Clients -->
</div><!--/container-->		
<!-- End Content Part -->

<!--=== Footer ===-->
<div class="footer">
	<div class="container">
		
        <div class="row margin-bottom-10">
            <div class="col-md-4">
		        <div class="headline"><h2>About</h2></div>	
				<p class="margin-bottom-25 md-margin-bottom-40">We're an experienced and established technical consulting company, delivering services of varying complexity to client in the Government and private sector. Mavtec's client list includes companies ranging from small startups to Fortune 500 corporations.</p>	
            </div>
            <div class="col-md-4">
		        <div class="headline"><h2>Contact Us</h2></div>	
                <address class="md-margin-bottom-40">
					25, Lorem Lis Street, Orange <br />
					California, US <br />
					Phone: 800 123 3456 <br />
					Fax: 800 123 3456 <br />
					Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                </address>
            </div>
            <div class="col-md-4">
                    
		        <div class="headline"><h2>Stay Connected</h2></div>	
                <ul class="social-icons">
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    <!-- <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li> -->
                    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    <!-- <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li> -->
                </ul>
					
            </div>
        </div><!--/row-->
		
	</div><!--/container-->	
</div><!--/footer-->	
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-6">						
	            <p class="copyright-space">
                    2014 &copy; Mavtec LLC ALL Rights Reserved. 
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
			</div>
			<div class="col-md-6">	
				<a href="index.html">
                    <img id="logo-footer" src="assets/mavtec_logo_website.png" class="pull-right" alt="" />
                </a>
			</div>
		</div><!--/row-->
	</div><!--/container-->	
</div><!--/copyright-->	
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="assets/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="assets/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="assets/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/modernizr.js"></script>
<script type="text/javascript" src="assets/jquery.cslider.js"></script> 
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/app.js"></script>
<script type="text/javascript" src="assets/index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html>	